/*********************TAG SELECTORS*******************/
body {
  background-color: #ffe79a;
}

h1 {
  color: #ef5a5a;
  font-size: 100px;
  font-style: oblique;
  text-align: center;
}

img:hover {
  background-color: #ef5a5a;
}

/*i also made dis*/
p {
  font-style: italic;
  text-align: center;
  color: #9d0b0b;
}

/***********************CLASS SELECTORS*******************/
.bacon {
  background-color: #ffa952;
}

.circular {
  border-radius: 100%
}

.yummy {
  background-color: #ffe79a;
}

/***********************ID SELECTORS*******************/
